[user]
    name = Nicholas Payne
    email = nic.payne@avant.com

[credential]
    helper = store

[core]
    editor = nvim
[url "ssh://git@github.com:pypeaday/dotfiles.git"]
    sshCommand = ssh -i ~/.ssh/pypeaday_github
[includeIf "gitdir:~/personal/"]
    path = ~/dotfiles/git/.gitconfig
[includeIf "gitdir:~/dotfiles/"]
    path = ~/dotfiles/git/.gitconfig
    sshCommand = ssh -i /Users/npayne81/.ssh/pypeaday_github
[init]
    defaultBranch = main
[push]
    default = current
[rerere]
	enabled = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICZTXS4lNQTAKIFgIa3pVtJ0H3+2G55CHkpA8u6PCRa1
