[user]
    name = pypeaday 
    email = pypeaday@pype.dev

[credential]
    helper = store

[core]
    editor = nvim

[includeIf "gitdir:~/work/"]
        path = ~/.gitconfig-work
[includeIf "gitdir:~/personal/"]
        path = ~/.gitconfig-personal
[includeIf "gitdir:~/minionai/"]
        path = ~/.gitconfig-minionai
[init]
    defaultBranch = main
[push]
    default = current
