key
.alias.local
**/.venv/
**/.venv3/
**/.venv2/
ipython/.ipython/profile_default/history.sqlite

*.sqlite


work/.caterpillar/emails
avant/spacelift_apikey.json
avant/.avant-hidden-though-stowed/spacelift_apikey.json
