snippet config "dbt config block" b
  {{
      config(
          materialized = "$1",
          sort = "$2",
          dist = "$3"
    )
  \}\}

snippet dbt_block "dbt block" b
  {% $0 %\}

snippet config_incremental "dbt config incremental" b
  {{
      config(
          materialized='incremental',
          sql_where='true',
          unique_key='${1:id}'
      )
  \}\}

snippet docs "dbt docs block" b
  {% docs ${1:name} %\}
      $2
  {% enddocs %\}

snippet env_var "dbt env_var"
  {{ env_var('${1:env_var_name}') \}\}

snippet filter "dbt filter" b
  {% filter ${1:filter} %\}
      $2
  {% endfilter %\}

snippet for "dbt for" b
  {% for ${1:item} in ${2:sequence} %\}
      $3
  {% endfor %\}

snippet if "dbt if" b
  {% if ${1:expr} %\}
      $2
  {% endif %\}

snippet load "dbt load" b
  load_result('${1:statement_name}')

snippet log "dbt log" b
  {{ log(${1:var}, info=${2:True}) \}\}

snippet macro "dbt macro"
  {% macro ${1:name}(${2:args}) %\}
      $3
  {% endmacro %\}

snippet return "dbt return" b
  {{ return(${1\}) \}\}

snippet set "dbt set" b
  {% set ${1:var}=${2:value} %\}

snippet set_block "dbt set_block" b
  {% set ${1:name} %\}
      $2
  {% endset %\}

snippet statement "dbt statement" b
  {% call statement(${2:name}, fetch_result=${2:True}) %\}
      ${3:select 1\}
  {% endcall %\}

snippet reference "dbt ref"
  {{ ref('${1:model_name}') \}\}

snippet cte "dbt cte"
  ${1:cte_name} as (
      select * from {{ ref('${2:model_name}') \}\}
  )

snippet var "dbt var"
  {{ var('${1:var_name}') \}\}
