---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: blog-post
title: FWBG - {{ bible_book }} - {{ section }}
published: True
tags:
  - {{ tag }}
  - faith
  - family-worship-bible-guide

---

{{ body }}
