[user]
    name = Nicholas Payne
    email = nic.payne@avant.com

[credential]
    helper = store

[core]
    editor = nvim
[url "ssh://git@github.com:pypeaday/dotfiles.git"]
  sshCommand = ssh -i ~/.ssh/pypeaday_github
[includeIf "gitdir:~/personal/"]
        path = ~/dotfiles/git/.gitconfig
[includeIf "gitdir:~/dotfiles/"]
        path = ~/dotfiles/git/.gitconfig
[init]
    defaultBranch = main
[push]
    default = current
