# DATA-{{ ticket }}

[ link to Jira issue ](https://avantinc.atlassian.net/browse/DATA-{{ ticket }})

[ link to GH page ](https://github.com/nic-avant/jira-tickets/blob/main/DATA-{{ ticket }}.md)

## Repos

## Notes
