---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: jira
title: {{ title }}
published: False
tags:
  - {{ tag }}
  - jira

---
# PIE-{{ ticket }}

[ link to Jira issue ](https://avantinc.atlassian.net/browse/PIE-{{ ticket }})

## Repos

## Notes
