---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: blog-post
title: Advent - {{ title }}
published: True
tags:
  - advent
  - faith
cover: https://cdn.statically.io/gh/pypeaday/images.pype.dev/main/blog-media/20251202112657_046d5c2a.png
---
